/*-- scss:defaults --*/
@import 'https://fonts.googleapis.com/css2?family=Maven+Pro:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Nunito:wght@300;400;500&family=JetBrains+Mono';

#quarto-content {
  background-color: #f0eeeb;
  code-block-background: #f0eeeb;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Nunito', sans-serif;
  color: black; 
}

// Code blocks
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
p { // main font family of post content
  font-family: 'Maven Pro', sans-serif;
  font-size: 0.9em;
}
